html, body, ul, li, div, p, dl, dt, dd, h1, h2, h4, h5 {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	font-style: normal;
}

h1 {
	font-weight: normal;
}

input {
	outline: none;
}

.disabled {
	opacity: .5;
	pointer-events: none;
}

.no-data {
	color: rgba(0, 0, 0, .65);
	font-size: 16px;
}

.cu-checkbox {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, .15);

	& span {
		display: none;
		width: 62%;
		height: 20%;
		border-left: 1px solid #1890FF;
		border-bottom: 1px solid #1890FF;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 100%) rotate(-45deg);
	}

	& input {
		display: none;
	}

	& input:checked + span {
		display: block;
	}
}

#app .btn-export {
	width: 74px;
	padding: 0;
	line-height: 32px;
}