@font-face {
    font-family: 'DashBoardNumDemo';
    src: url(../../public/font/SackersGothicStd-Square.otf);
    font-weight: normal;
    font-style: normal;
}

#dashboard-wrapper {
    width: 100%;
    min-height: 100vh;
    /* font-size: calc(100) */
    background:rgba(15,15,25,1);
    /* padding: 20px; */
}
.container {
    float: left;
    height: 100vh;
    /* border: 1px solid #ffffff; */
}
.left-content {
    width: 6.01rem;
}
.center-content {
    width: 50%;
}
.right-content {
    width: 5.98rem;
    height: 10.40rem;
    background: url(~@/assets/rightbg.svg) center no-repeat;
    background-size: 100% 100%;
    margin-top: .1rem;
}
.wheather {
    width: 6.01rem;;
    height: 3.2rem;
    margin-top: .2rem;
    background: url(~@/assets/wheatherbg.svg) center no-repeat;
    background-size: 100% 100%;
}
.wheather-icon {
    /* width: 100%; */
    height: 1.8rem;
    /* float: left; */
    /* display: inline-block; */
}
.icon {
    background: url(~@/assets/duoyun.svg) center no-repeat;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.39rem 0 0 0.49rem;
    float: left;
    background-size: 100% 100%;
}
.temp-num {
    /* font-family: 'DashBoardNumDemo'; */
    color: #ffffff;
    font-size: .49rem;
    margin: .8rem 0 0 .8rem;
    /* line-height: 195px; */
    float: left;
    /* margin-left: 20px; */
    & span {
        font-size: .28rem;
        /* margin-left: 16px; */
    }
}
.info {
    font-size: .42rem;
    color: #ffffff;
    display: inline-block;
    margin: .8rem 0 0 1rem;
    /* float: right;
    margin: 77px 107px; */
    /* display: inline-block;
    margin: 2% 0 0 4%; */
}
.temperature {
    color: #ffffff;
    font-size: .24rem;
    /* padding: 0% 0 0 3%; */
    /* padding: 185px 0 0 0; */
    & li {
        display: inline-block;
        margin-left: .42rem;
        /* width: 26%; */
        line-height: .5rem;
        & span {
            font-size: .18rem;
        }
    }
}
.car-parking {
    width: 6.01rem;
    height: 6.82rem;
    margin-top: .2rem;
    /* margin-left: 9px;
    margin-top: 30px; */
    background: url(~@/assets/carparking.svg) center no-repeat;
    background-size: 100% 100%;
}
.parking-top {
    /* width: 100%;
    height: 50px; */
    & p {
        display: inline-block;
        margin: .6rem .3rem .3rem;
        font-size: .36rem;
        font-weight: 400;
        color: rgba(185,224,249,1);
    }
}
.parking-icon {
    display: block;
    width: .36rem;
    height: .36rem;
    float: left;
    margin: .05rem .2rem;
    background: url(~@/assets/parkingicon.svg) center no-repeat;
    background-size: 100% 100%;
}
.picture1 {
    width: 2.13rem;
    height: 1.95rem;
    margin-left: .34rem;
    margin-top: .24rem;
    display: inline-block;
    background: url(~@/assets/carcircle.svg) center no-repeat;
    background-size: 100% 100%;
}
.car-num {
    /* font-family: 'DashBoardNumDemo'; */
    margin: .46rem 0 0 .64rem;
    display: block;
    font-weight: 600;
    color:rgba(245, 166, 35,1);
    font-size: .42rem;
    width: .87rem;
    height: .54rem;
    text-align: center;
}
.rest {
    display: block;
    color: #ffffff;
    font-size: .24rem;
    font-weight:400;
    margin-left: .8rem;
    color:rgba(165,221,253,1);
}
.picture2 {
    width: 2.32rem;
    height: 1.88rem;
    /* display: inline-block; */
    float: right;
    /* margin-left: .48rem; */
    margin-right: .48rem;
    background: url(~@/assets/carbg.svg) center no-repeat;
    background-size: 100% 100%;
    color: rgba(165,221,253,1);
    /* line-height:50px; */
    font-size: .24rem;
    & li {
        margin: .42rem 0 0 .22rem;
    }
}
.month-rest, .now-rest {
    /* font-family: 'DashBoardNumDemo'; */
    font-size: .30rem;
    float: right;
    margin: -.03px .28rem;
}
.car-flow-title {
    color:rgba(185,224,249,1);
    font-size: .36rem;
    font-weight: 400;
}
.car-icon {
    width: .36rem;
    height: .36rem;
    display: inline-block;
    margin: .45rem 0 0 .35rem;
    background: url(~@/assets/caricon.svg) center no-repeat;
    background-size: 100% 100%;
    float: left;
}
.car-explain {
    display: inline-block;
    margin: .40rem 0 0 .20rem;
    float: left;
}
.chart-title {
    clear: both;
    /* font-family: 'DashBoardNumDemo'; */
}
.total {
    color: #ffffff;
    font-size: .48rem;
    display: inline-block;
    margin: .05rem .8rem 0 .34rem;
    float: left;
}
.rank {
    /* font-family: 'DashBoardNumDemo'; */
    color: #ffffff;
    margin-left: 1.60rem;
    float: left;
}
.car-chart {
    width: 5.38rem;
    height: 2.05rem;
}

.main-building {
    width: 12.6rem;
    height: 6.88rem;
}
.building-title {
    font-size:.64rem;
    text-align: center;
    font-weight: 400;
    color:rgba(185,224,249,1);
    line-height: .9rem;
    letter-spacing: .5rem;
    margin-top: .2rem;
    text-shadow:0px 0px .05rem rgba(14,124,194,1);
}
.building {
    width: 8.53rem;
    height: 5.14rem;
    background: url(~@/assets/building.svg) center no-repeat;
    background-size: 100% 100%;
    margin: .6rem 0 0 0;
    /* &::before {
        content : '';
        display: inline-block;
        width: 853px;
        height: 514px;
        background: url(~@/assets/building.svg) center no-repeat;
        background-size: 100% 100%;
        margin: 60px 0 0 -60px;
    } */
}
.img {
    & li {
        width: 393px;
        height: 57px;
        background: url(~@/assets/normalfloor.svg) center no-repeat;
        background-size: 100% 100%;
        margin-top: -41px;
    }
}
.top-floor {
    display: inline-block;
    width: 1.45rem;
    height: .37rem;
    margin-left: 2.38rem;
    transform: skewX(-58deg);
    margin-top: .05rem;
    float: left;
}
.center-floor {
    margin-left: 2.09rem;
    clear: both;
    /* padding-top: 42px; */
}
.oneFour {
    margin-left: 2.09rem;
}
.bottom-floor {
    color: #ffffff;
    width: 3.34rem;
    height: .2rem;
    font-size: 12px;
}
.floor {
    color: #ffffff;
    width: 1.45rem;
    height: .20rem;
    font-size: .12rem;
}
.center-right {
    margin-left: 3.56rem;
    color: #ffffff;
    margin-top: -4.90rem;;
    transform: skewY(-31deg);
}
.transform {
    width: .56rem;
    height: .20rem;
    font-size: 12px;
}
.right-top {
    display: block;
    width: 1.87rem;
    height: .34rem;
    margin-left: 3.84rem;
    margin-top: 1.15rem;;
    transform: skewX(-58deg);
}
.right-oneFour {
    margin-left: 5.44rem;
    margin-top: -0.93rem;
    transform: skewY(-31deg);
}
.right-bottom-floor {
    width: .56rem;
    height: .20rem;
    font-size: 12px;
}
.basement {
    margin-left: 2.08rem;
}
.basement-floor {
    width: 3.37rem;
    height: .20rem;
    font-size: 12px;
}
.basement-right {
    margin-left: 5.44rem;
    margin-top: -0.77rem;
}
.basement-right-floor {
    width: .56rem;
    height: .20rem;
    transform: skewY(-31deg);
    font-size: 12px;
}
.basement-top {
    display: block;
    width: 3.37rem;
    height: .37rem;
    margin-left: 2.37rem;
    margin-top: 1.18rem;
    transform: skewX(-57deg);
}
.detail-floor {
    width: 4.84rem;
    height: 3.20rem;
    background: rgba(185,224,249,0.1);
    margin-left: 7.30rem;
    margin-top: -4.8rem;

    & img {
        width: 3.93rem;
        height: .57rem;
        margin: .40rem .40rem 0 .40rem;
    }
}
.detail-content {
    font-size: .24rem;
    font-weight: 400;
    color: rgba(185,224,249,1);
    margin: .40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.detail-info {
    height: .54rem;
    font-size: .24rem;
    letter-spacing: .02rem;
}
.lastfloor {
    width: 3.28rem;
}
.left-li {
    width: 2rem;
    
    & span {
        float: right;
        margin-right: .62rem;
    }
}
.right-li {
    width: 2rem;

    & span {
        float: right;
        /* margin-right: 44px; */
    }
}
.time-content {
    width: 3.56rem;
    height: 1.27rem;
    font-weight: 400;
    color: rgba(255,255,255,1);
    margin: .60rem 0 0 8.54rem;
}
.detail-time {
    text-align: right;
    font-size: .48rem;
    line-height: .72rem;
}
.detail-date {
    text-align: right;
    font-size: .36rem;
}
.people-flow {
    width: 12.6rem;
    height: 3.28rem;
    /* margin-left: -50px; */
    background: url(~@/assets/personflow.svg) center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    & h5 {
        font-size: .36rem;
        font-weight: 400;
        color:rgba(185, 224, 249, 1);
        margin: .30rem 0 0 .70rem;
    }
}
.people-title {
    flex-shrink: 0;
    &::before {
        content: '';
        display: inline-block;
        width: .32rem;
        height: .32rem;
        background: url(~@/assets/personicon.svg) center no-repeat;
        background-size: 100% 100%;
        margin: .10rem .10rem 0 0;
    }
}
.people-num {
    /* font-family: 'DashBoardNumDemo'; */
    font-size: .48rem;
    margin: .10rem 0 0 .88rem;
    color:rgba(255,255,255,1);
}
.people-chart {
    width: 5.38rem;
    height: 2.05rem;
    margin-left: .40rem;
}
.right {
    flex-shrink: 0;
    margin: .43rem 1.10rem 0 0;
    & p {
        margin-bottom: .24rem;
        color: rgba(185,224,249,1);
        font-size: .36rem;
    }
    & li {
        /* display: flex; */
        font-size: .24rem;
		margin-bottom: .24rem;
		color: rgba(255,255,255,1);
		counter-increment: num;

		&::before {
			content: counter(num);
			display: inline-block;
			width: .20rem;
			margin-right: .24rem;
			color: #FFF;
			font-size: .12rem;
			text-align: center;
			border-radius: 50%;
			background-color: #1890FF;
            line-height: .20rem;
		}

		& span:last-child {
			margin-left: 3.10rem;
		}
    }
    & li:last-child {
        &::before {
            background-color: rgba(155,155,155,1);
        }
    }

}

.device-icon {
    width: .48rem;
    height: .48rem;
    margin: .44rem 0 0 .60rem;
    background: url(~@/assets/deviceicon.svg) center no-repeat;
    background-size: 100% 100%;
    display: block;
    float: left;
}
.device-explain {
    font-size: .36rem;
    font-weight: 400;
    color: rgba(185,224,249,1);
    display: block;
    float: left;
    margin: .44rem 0 0 .24rem;
}
.device-charts {
    clear: both;
    height: 1.70rem;
    margin-left: .50rem;
    padding-top: .30rem;
}
.running, .error, .no-run {
    width: 1.70rem;
    height: 1.70rem;
    background: url(~@/assets/devicecirclebg.svg) center no-repeat;
    background-size: 100% 100%;
    float: left;
}
.error {
    margin: 0 .12rem;
}
.num {
    /* font-family: 'DashBoardNumDemo'; */
    font-size: .36rem;
    font-weight: 400;
    color: rgba(80,227,194,1);
    display: block;
    margin: .50rem 0 0 .39rem;
    width: .89rem;
    height: .43rem;
    text-align: center;
}
.explain {
    font-size: .24rem;
    font-weight: 400;
    display: block;
    color:rgba(165,221,253,1);
    margin-left: .50rem;
}
.error-num {
    color: rgba(244,166,85,1);
}
.norun-num {
    color: rgba(192,190,193,1);
}
.electric-icon {
    width: .36rem;
    height: .36rem;
    background: url(~@/assets/electricicon.svg) center no-repeat;
    margin: .50rem 0 0 .56rem;
}
.water-icon {
    background: url(~@/assets/watericon.svg) center no-repeat;
}
.ele-num {
    /* font-family: 'DashBoardNumDemo'; */
    clear: both;
    font-size: .48rem;
    color:rgba(255,255,255,1);
    padding-top: .10rem;
    margin-left: .64rem;
}
.down {
    display: inline-flex;
    align-items: center;
    margin-left: .80rem;
    color:rgba(255,255,255,1);
    font-size: .16rem;
    &::after {
        content: "";
        margin-left: .04rem;
        border-right: .10rem solid transparent;
        border-left: .10rem solid transparent;
        border-bottom: .12rem solid rgba(255,255,255,1);
    }
}
.down-icon {
    /* display: inline-block; */
    margin-left: .80rem;
    color:rgba(255,255,255,1);
    font-size: .16rem;
    float: left;
    margin-top: .3rem;
    &::after {
        content: "";
        margin-left: .04rem;
        border-right: .10rem solid transparent;
        border-left: .10rem solid transparent;
        border-bottom: .102rem solid rgba(255,255,255,1);
        float: right;
        margin-top: .05rem;
    }
}
.water-gage {
    display: inline-flex;
    align-items: center;
    font-size: .16rem;
    margin-left: .90rem;
}
.electric-charts {
    width: 5.38rem;
    height: 2.05rem;
    /* margin-left: .40rem; */
    color:rgba(255,255,255,1);
}
.water {
    margin-top: -20px;
}